*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: hsl(206, 58%, 91%);
}

body{
  background-color: hsl(212, 45%, 89%);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
.pic {
  border-radius: 5%;
}
.body-image {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
  
  background-color: white;
  height: 340px;
  width:230px;
  border: white;
  border-radius: 5%;
}
.lower-text {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
}
.top-text {
  font-size: 15px;
  font-weight: 700;
}
@media screen and (min-width: 375px) and (max-width: 1444px){
  body{
      display: flex;
justify-content: center;
   margin-left: 0px; 
   margin-right:0px; 
  }
}
.img{
 margin-left: 10px; 
 margin-right:10px; 
}